---
title: About the Madison Software Academy
---

<div class="row">
  <div class="large-12">
    <h1>About the Curriculum</h1>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    <h2>We Hire Developers, So We Know What Companies Look For</h2>
    <p>Our founders have been leading teams of developers for over a decade and know what companies are looking for in junior developers. We've specifically tailored our academy to get you to a position of being <b>hired as a junior web developer</b>.
    </p>
    <h2>Implementing From Day One</h2>
    <%=image_tag('logos/heroku.png', class: 'right logo') %>
    <p>Many other bootcamps talk about <em>learning by doing</em>, but at MSA it is <b>reality</b>. We start from day one by implementing a blog application, with Devise authentication, and hosted on <a href="http://heroku.com/">Heroku</a>.  You'll continually add to that application, learning Ruby, RSpec, git, and Rails along the way.  We don't even start teaching theory until after you've deployed several web applications.
    </p>
    <p>Mid curriculum is when we crank up the theory learning and slow down a bit on the implementation.  This is a better approach than other schools (and standard academia) because the theory will make more sense when you have a sense for its application - this is the key to successful learning and the advantage we offer our students.
    <h2>Tools & Languages We Teach</h2>
    <ul>
      <li>
        <span href="Ruby.html">Ruby</span>
      </li>
      <li>
        <span href="Javascript.html">JavaScript</span>
      </li>
      <li>
        <span href="CoffeeScript.html">CoffeeScript</span>
      </li>
      <li>
        <span href="RSpec.html">RSpec</span>
      </li>
      <li>
        <span href="SASS.html">SASS</span>
      </li>
      <li>
        <span href="HAML.html">haml</span>
      </li>
      <li>
        <span href="GitHub.html">GitHub and git</span>
      </li>
      <li>
        <span href="SublimeText.html">Sublime Text</span>
      </li>
      <li>
        <span href="OAuth.html">Oauth</span>
      </li>
    </ul>
    <h2>Gems We Teach</h2>
    <ul>
      <li>
        <span href="ActiveAdmin.html">ActiveAdmin</span>
      </li>
      <li>
        <span href="DelayedJob.html">Delayed Job</span>
      </li>
      <li>
        <span href="Devise.html">Devise</span>
      </li>
      <li>
        <span href="SimpleCov.html">SimpleCov</span>
      </li>
      <li>
        <span href="SimpleForm.html">Simple Form</span>
      </li>
      <li>
        <span href="OmniAuth.html">OmniAuth</span>
      </li>
    </ul>
    <h2>Services We Teach</h2>
    <ul>
      <li>
        <span href="Airbrake.html">Airbrake</span>
      </li>
      <li>
        <span href="Amazon S3.html">Amazon AWS/S3</span>
      </li>
      <li>
        <span href="Bootstrap.html">Bootstrap</span>
      </li>
      <li>
        <span href="DNSSimple.html">DNS Simple</span>
      </li>
      <li>
        <span href="SendGrid.html">SendGrid</span>
      </li>
      <li>
        <span href="Stripe.html">Stripe</span>
      </li>
      <li>
        <span href="Twilio.html">Twilio</span>
      </li>
      <li>
        <span href="Twitter_API.html">Twitter API</span>
      </li>
      <li>
        <span href="heroku.html">Heroku</span>
      </li>
    </ul>
    <ul class="pricing-table">
      <li class="cta-button"><a href="#" data-reveal-id="applyModal" class="radius button">Apply Today</a></li>
    </ul>
  </div>
  <div class="large-3 columns">

  </div>
</div>
