---
layout: page
title: About the Madison Software Academy
---

<div class="row">
  <div class="large-12">
    <h1>About the Curriculum</h1>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">

    <h2>Implementing From Day One</h2>
    <%=image_tag('logos/heroku.png', align: 'right') %>
    <p>Many other bootcamps talk about <em>learning by doing</em>, but at MSA it is <b>reality</b>. From day one you will be deploying a web application hosted on <a href="http://heroku.com/">Heroku</a>.  You'll continually add to that application, learning Ruby, RSpec, Behavior Driven Development, git, Rails and other important skills firms are looking to hire.  We don't even start teaching theory until after you've deployed several web applications.
    </p>
    <p>Mid curriculum is when we start a dive into theory and slow down (just a bit) on the implementation.  This is a better approach than other schools (and standard academia) because the theory will make more sense when you have a sense for its application - this is the key to successful learning and one of the advantages we offer our students.

    <h2>You will learn...</h2>
    <h3>Tools & Languages</h3>
    <ul>
      <li>
        <a href="/curriculum/Ruby.html" data-reveal-id="fake" data-reveal-ajax="true">Ruby</a>
      </li>
      <li>
        <a href="/curriculum/Javascript.html" data-reveal-id="fake" data-reveal-ajax="true">JavaScript</a>
      </li>
      <li>
        <a href="/curriculum/CoffeeScript.html" data-reveal-id="fake" data-reveal-ajax="true">CoffeeScript</a>
      </li>
      <li>
        <a href="/curriculum/RSpec.html" data-reveal-id="fake" data-reveal-ajax="true">RSpec</a>
      </li>
      <li>
        <a href="/curriculum/sass.html" data-reveal-id="fake" data-reveal-ajax="true">SASS</a>
      </li>
      <li>
        <a href="/curriculum/haml.html" data-reveal-id="fake" data-reveal-ajax="true">haml</a>
      </li>
      <li>
        <a href="/curriculum/GitHub.html" data-reveal-id="fake" data-reveal-ajax="true">GitHub and git</a>
      </li>
      <li>
        <a href="/curriculum/SublimeText.html" data-reveal-id="fake" data-reveal-ajax="true">Sublime Text</a>
      </li>
      <li>
        <a href="/curriculum/OAuth.html" data-reveal-id="fake" data-reveal-ajax="true">Oauth</a>
      </li>
      <li>Behavior Driven Development</li>
    </ul>

    <h2>Important Gems</h2>
    <ul>
      <li>
        <a href="/curriculum/ActiveAdmin.html" data-reveal-id="fake" data-reveal-ajax="true">ActiveAdmin</a>
      </li>
      <li>
        <a href="/curriculum/Chamber.html" data-reveal-id="fake" data-reveal-ajax="true">Chamber</a>
      </li>
      <li>
        <a href="/curriculum/DelayedJob.html" data-reveal-id="fake" data-reveal-ajax="true">Delayed Job</a>
      </li>
      <li>
        <a href="/curriculum/Devise.html" data-reveal-id="fake" data-reveal-ajax="true">Devise</a>
      </li>
      <li>
        <a href="/curriculum/Paperclip.html" data-reveal-id="fake" data-reveal-ajax="true">Paperclip</a>
      </li>
      <li>
        <a href="/curriculum/SimpleCov.html" data-reveal-id="fake" data-reveal-ajax="true">SimpleCov</a>
      </li>
      <li>
        <a href="/curriculum/simple_form.html" data-reveal-id="fake" data-reveal-ajax="true">Simple Form</a>
      </li>
      <li>
        <a href="/curriculum/OmniAuth.html" data-reveal-id="fake" data-reveal-ajax="true">OmniAuth</a>
      </li>
    </ul>
    <h2>Services</h2>
    <ul>
      <li>
        <a href="/curriculum/Airbrake.html" data-reveal-id="fake" data-reveal-ajax="true">Airbrake</a>
      </li>
      <li>
        <a href="/curriculum/AmazonS3.html" data-reveal-id="fake" data-reveal-ajax="true">Amazon AWS/S3</a>
      </li>
      <li>
        <a href="/curriculum/Bootstrap.html" data-reveal-id="fake" data-reveal-ajax="true">Bootstrap</a>
      </li>
      <li>
        <a href="/curriculum/SendGrid.html" data-reveal-id="fake" data-reveal-ajax="true">SendGrid</a>
      </li>
      <li>
        <a href="/curriculum/Stripe.html" data-reveal-id="fake" data-reveal-ajax="true">Stripe</a>
      </li>
      <li>
        <a href="/curriculum/Twilio.html" data-reveal-id="fake" data-reveal-ajax="true">Twilio</a>
      </li>
      <li>
        <a href="/curriculum/Twitter_API.html" data-reveal-id="fake" data-reveal-ajax="true">Twitter API</a>
      </li>
      <li>
        <a href="/curriculum/Heroku.html" data-reveal-id="fake" data-reveal-ajax="true">Heroku</a>
      </li>
      <li>
        <a href="/curriculum/Pivotal.html" data-reveal-id="fake" data-reveal-ajax="true">Pivotal Tracker</a>
      </li>

    </ul>
  </div>
  <div class="large-3 columns">

  </div>
</div>
