---
title: Hire a Programmer
---

 <div class="row">
  <div class="large-12 column">
    <h1>Hire a Programmer</h1>
  </div>
</div>

 <div class="row">
  <div class="large-9 column">
    <h2>Get The Inside Track To New Graduates</h2>
    <p>By <a href="#" data-reveal-id="hiringApplyModal">signing up as a hiring partner</a>, you have first access to MSA graduates.  You'll be given a report by our mentors on the strengths and weaknesses of each candidate.
    </p>
    <p>
      By telling us what you are looking for in a potential hire, you can also receive reports on potential good fits with your organization and can request to have specific skills & tools learned by the candidates prior to graduation.  Think of MSA as a partner in your recruitment process.
    </p>
    <h2>
      What Do Graduates Know?</h2>
    <p>MSA graduates have experience with some of the most commonly used <a href="/about.html">gems, APIs, and 3rd party services</a> used in the Ruby on Rails community.  They will have a junior developer level knowledge of the Rails Framework, Ruby, and Javascript and will have experience working with <a href="http://www.pivotaltracker.com/">Pivotal Tracker</a> and <a href="http://github.com">Github</a> in a team setting.</p>

    <h2>Our Hiring Partners
      </h2>
    <div class="partner"><div class="logo" style="background-color: #333; border-radius: 4px;"><a href="http://tenforwardconsulting.com/"><img src="/images/ten_forward_logo.png" /></a></div>
      <div class="description">
        Custom software development and consulting based in Madison, WI. We provide world-class web and mobile development to Fortune 500 companies and bootstrapped Startups.
      </div>
    </div>
    <div class="partner"><div class="logo"><a href="http://wellbe.me/"><img src="/images/wellbe_color_large.jpg" /></a></div>
      <div class="description">
        Wellbe, the inventor of the cloud-based Guided CarePath®, works with health providers to engage patients as partners in their episodes of care.
      </div>
    </div>

    <br />
  </div>
  <div class="large-3 column side-nav">
    <p><a href="#" data-reveal-id="hiringApplyModal" class="radius button">Become a Partner</a>
    </p>
  </div>
</div>



  <div id="hiringApplyModal" class="reveal-modal" data-reveal>
    <div id="wufoo-m1fd9i6u0zuj2a0">
    Fill out my <a href="https://softwareacademy.wufoo.com/forms/m1fd9i6u0zuj2a0">online form</a>.
    </div>
    <script type="text/javascript">var m1fd9i6u0zuj2a0;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'softwareacademy',
    'formHash':'m1fd9i6u0zuj2a0',
    'autoResize':false,
    'height':'600',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { m1fd9i6u0zuj2a0 = new WufooForm();m1fd9i6u0zuj2a0.initialize(options);m1fd9i6u0zuj2a0.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>


      <a class="close-reveal-modal">&#215;</a>
  </div>
