---
title: Welcome to Madison Software Academy
---

<!-- FIRST DIV -->
    <div id="header" class="leading-section full-width">
      <div class="row">
        <div class="small-3 large-2 small-centered columns"></div>
      </div>
      <div class="row" id="home-lead">
        <div class="large-12">
          <h1 class="white">Madison Software Academy</h1>
          <h3 class="white"><em>Learning By Doing</em></h3>
        </div>
      </div>
    </div>

<!-- LEARN THESE SKILLS -->
    <div class="learn-these-skills">
      <div class="large-12 row">
        <h1 class="center">Become a Ruby on Rails Developer</h1>
      </div>
      <div class="row">
        <div class="five-column columns"><span><img src="images/logos/logos-14.png"></span> </div>
        <div class="five-column columns"><span><img src="images/logos/logos-12.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-07.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-08.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-19.png"></span> </div>
      </div>
      <div class="row">
        <div class="five-column columns"><span><img src="images/logos/logos-10.png"></span> </div>
        <div class="five-column columns"><span><img src="images/logos/logos-11.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-05.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-13.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-04.png"></span> </div>
      </div>
      <div class="row">
        <div class="five-column columns"><span><img src="images/logos/logos-15.png"></span> </div>
        <div class="five-column columns"><span><img src="images/logos/logos-16.png"></span> </div>
        <div class="five-column columns"><span><img src="images/logos/logos-17.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-18.png"></span> </div>
        <div class="five-column  columns"><span><img src="images/logos/logos-06.png"></span> </div>
      </div>

      <div class="large-12 row">
        <h2 class="center">You Will Learn these skills and tools</h2>
      </div>
      <div class="row">
        <div class="large-9 columns"> </div>
        <div class="large-3 columns"><p class="cta-button"><a class="button radius" href="about.html">And More...</a></p></div>
      </div>
    </div>

<!-- LEARN AT YOUR PACE -->
    <div class="learn-at-your-pace">
      <div class="row">
        <div class="large-12">
          <h2 class="center"> Learn at <em>your</em> pace</h2>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <ul class="pricing-table">
            <li class="title top-rounded-corners">DIY with Group Mentorship</li>
            <li class="description">For those people that simply need some help getting started, structured lessons, mentors, and connections with employers:</li>
            <li class="bullet-item">Personal mentor to get you started</li>
            <li class="bullet-item">Access to our video lessons</li>
            <li class="bullet-item">Live group sessions taught by mentors</li>
            <li class="price bottom-rounded-corners">$30/Month</li>
            <li class="cta-button"><a href="#" data-reveal-id="applyModal" class="radius button">Apply</a></li>
          </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <ul class="pricing-table">
            <li class="title top-rounded-corners">Personal Mentorship</li>
            <li class="description">At this level you  receive more personal mentorship and training than the DIY level. Along with all the services of the DIY plan, this level also providees:</li>
            <li class="bullet-item">2 hrs online personal mentorship each month</li>
            <li class="bullet-item">Personal advisor to ensure you graduate</li>
            <li class="bullet-item">Connections with our hiring partners</li>
            <li class="price bottom-rounded-corners">$99/Month</li>
            <li class="cta-button"><a href="#" data-reveal-id="applyModal" class="radius button">Apply</a></li>
          </ul>
        </div>
        <div class="large-4 medium-4 small-12 columns">
          <ul class="pricing-table">
            <li class="title top-rounded-corners">In Class Immersion</li>
            <li class="description">For those of you with the time and energy to dive in full-time.  We provide an immersion program at our office in Madison, WI.</li>
            <li class="bullet-item">Class size less than 12 people</li>
            <li class="bullet-item">30 hours of instruction/week</li>
            <li class="bullet-item">Personal Coach</li>
            <li class="price bottom-rounded-corners">$999/Month</li>
            <li class="cta-button"><a href="#" data-reveal-id="applyModal" class="radius button">Apply</a></li>
          </ul>
        </div>
      </div>
    </div>

<!-- WHO WE ARE -->
    <div class="who-we-are">
      <div class="row">
        <div class="large-12">
          <h2 class="center">Who we are</h2>
        </div>
        <div class="large-4 medium-4 small-12 columns centered">
          <p><a href="https://github.com/wiscoDude"><img class="rounded" src="images/phil.jpg"></a></p>
          <p><a href="https://github.com/wiscoDude">@wiscoDude</a></p>
        </div>
        <div class="large-4 medium-4 small-12 columns centered">
          <p><a href="https://github.com/southpolesteve"><img class="rounded" src="images/steve.jpg"></a></p>
          <p><a href="https://github.com/southpolesteve">@southpolesteve</a></p>
        </div>
        <div class="large-4 medium-4 small-12 columns centered">
          <p><a href="https://github.com/m5rk"><img class="rounded" src="images/mark.jpg"></a></p>
          <p><a href="https://github.com/m5rk">@m5rk</a></p>
        </div>
      </div>
    </div>


